{% extends 'template_base_normal_user.html' %}
{% load staticfiles%}

{% block css %}
{% endblock css %}

{% block javascript %}
{% endblock javascript %}

{% block body %}
    <!-- Inicio barra superior Login -->
	{% include 'navbar.html' %}
    <!-- Fin barra superior Login -->

	<!-- Inicio Contenido Catalogo -->
	<div class="container">

		<div class="page-header">
			<h1>Catalogo de Ofertas <small>{{active_tab}}</small></h1>
		</div>
		<!-- Inicio Categorias -->
			<ul class="nav nav-tabs nav-justified">
				{% for cat in categories %}
					<li {% if active_tab == cat.name %} class="active" {% endif %}><a href="{% url 'catalogo' cat.name %}">{{cat.name}}</a></li>
				{% endfor %}
				<li {% if active_tab == "Ver Todos" %} class="active" {% endif %}><a href="{% url 'catalogo' "Ver Todos" %}">Ver Todos</a></li>
			</ul>
		<!-- Fin Categorias -->

		<br>

		<!-- Inicio Ofertas -->
		<div class="row">
			{% for job in jobs %}
				{% include 'job_sample.html' %}
			{% endfor %}
		</div>
		<!-- Fin Ofertas -->

		<!-- Inicio Paginacion -->
		Aca la paginacion
		<!-- Fin Paginacion -->
	</div>
	<!-- Fin Contenido Catalogo -->

{% endblock %}

{% block footer %}
	<p class="pull-right scroll-link" data-id="inicio"><a href="#">Volver al Inicio</a></p>
	<p>&copy; 2014 Una iniciativa CaDCC, UChile. &middot; Términos y Condiciones para: <a href="#"> Alumnos</a> &middot; <a href="#" >Ofertantes</a></p>
{% endblock %}

{% block extra-js %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/scroll_link.js' %}"></script>
{% endblock %}
