<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<div class="caption">

			<!-- Titulo Oferta -->
			<h3 class="offerTitle">{{offer.institution}}</h3>

			<!-- Tags Calculados: proximamente... 
			<p class="specialTags">
				<span title="Este aviso fue publicado hace menos de una semana" class="label label-warning">Nuevo</span>
				<span title="Muchos usuarios han visitdo este aviso" class="label label-danger">Oferta Hot</span>
				<span title="La empresa asociado ha publicado varias ofertas" class="label label-info">Empresa Destacada</span>
			</p>
			-->

			<!-- Descripcion breve -->
			<p class="offerSmallDescription">{{offer.short_description}}</p>

			<!-- Conocimientos Tecnicos -->
			<p class="offerTechSkills">
				<b>Tecnologias</b>:
					{% for tec in offer.tecnologies %}
						<span class="label label-default">{{tec}}</span>
					{% endfor %}
			</p>

			<!-- Duracion -->
			<p class="offerDuration"><b>Duracion</b>: {{offer.length}}</p>

			<p><a href="#" class="btn btn-default" role="button">Ver Oferta Completa</a></p>
		</div>
	</div>
</div>
