{% extends 'template_base_normal_user.html' %}
{% load staticfiles%}

{% block css %}
{% endblock css %}

{% block javascript %}
{% endblock javascript %}

{% block body %}
    <!-- Inicio barra superior Login -->
	{% include 'navbar.html' %}
    <!-- Fin barra superior Login -->

	<!-- Inicio Contenido Catalogo -->
	<div class="container">

		<div class="page-header">
			<h1>Detalle de la Oferta <small>Publicado el {{offer.date}}</small></h1>
		</div>

		<!-- Inicio Oferta -->
		{% include 'offer_detail.html' %}
		<!-- Fin Oferta -->

		<div class="text-center"> <a class="btn btn-default" href="{% url 'catalogo' %}" role="button">Volver a todas las ofertas</a></div>
		<br>
	</div>
	<!-- Fin Contenido Catalogo -->

{% endblock %}

{% block footer %}
	<p class="pull-right scroll-link" data-id="inicio"><a href="#">Volver al Inicio</a></p>
	<p>&copy; 2014 Una iniciativa CaDCC, UChile. &middot; Términos y Condiciones para: <a href="#"> Alumnos</a> &middot; <a href="#" >Ofertantes</a></p>
{% endblock %}

{% block extra-js %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/scroll_link.js' %}"></script>
	<script src="{% static 'js/printdiv.js' %}"></script>

{% endblock %}
