<div id="detalleOferta" class="panel panel-default">
  <div class="panel-heading">
	  <div class="btn-group pull-right">
		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
		  Acciones
		  <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
		  <li><a href="#" onclick="printDiv('detalleOferta')"><span class="glyphicon glyphicon-save"></span> Imprimir Oferta</a></li>
		  <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Enviar esta oferta a mi correo</a></li>
		</ul>
	  </div>
	  <h4>Detalle de la Oferta</h4>
  </div>
  <div class="panel-body">
	<p><b>Tematica: </b> Estamos desarrollando nuevas aplicaciones innovadoras para web y moviles, que cambiaran la manera en como vemos el transporte.</p>
	<p><b>Tecnologias</b>: 
		<span class="label label-default">MySQL</span>
		<span class="label label-default">Oracle DB</span>
		<span class="label label-default">Python</span>
		<span class="label label-default">Office</span>
	</p>
	<p><b>Detalles: </b> Practica en A-Dedo!
A-Dedo, los creadores de A-dedo UChile (ver video: http://www.youtube.com/watch?v=7afvLtoGEa4), asi como del primer y mejor sistema para compartir viajes en auto y rutas en bicicleta en Chile, esta creciendo y en busqueda de practicantes motivados que participen en la internacionalizacion de nuestros servicios este 2014!
Estamos desarrollando nuevas aplicaciones innovadoras para web y moviles, que cambiaran la manera en como vemos el transporte. Â¡Queremos vivir en ciudades mas descontaminadas, colaborativas y con menos tacos!
Buscamos estudiantes talentosos y apasionados a los que les motive ser parte de un proyecto entretenido y cursar nuevos desafios, que nos ayuden a mejorar nuestros productos, en especifico nuestro cliente nativo Android.
Tendras horarios flexibles y te uniras a un equipo de alta calidad tecnica, alegre, motivado y muy abierto a ideas y aportes de gente nueva. Nos interesara mucho ver codigo de otros proyectos en que hayas trabajado asi que no dudes de incluir muestras o links a github, sourceforge o similares cuando nos contactes.</p>
	<p><b>Remuneracion: </b> $100000 bruto mensual</p>
	<p><b>Informacion Adicional: </b>
		<ul>
		<li><a href="http://www.youtube.com/watch?v=7afvLtoGEa4"><span class="glyphicon glyphicon-facetime-video"></span> http://www.youtube.com/watch?v=7afvLtoGEa4"</a></li>
		<li><a href="#"><span class="glyphicon glyphicon-paperclip"></span> Archivo 1</a></li>
		<li><a href="#"><span class="glyphicon glyphicon-paperclip"></span> Archivo 2</a></li>
		</ul>
	</p>
  </div>
  <table class="table">
	  <tr>
		<td>Empresa o Contacto:</td>
		<td>
		<table class="table">
			<tr><td>A-Dedo</td></tr>
			<tr><td><a href="mailto:michael@jackson.com"><span class="glyphicon glyphicon-envelope"></span> michael@jackson.com</a></td></tr>
			<tr><td><a href="#"><span class="glyphicon glyphicon-paperclip"></span> +5621112121</a></td></tr>
		</table>
		</td>
	  </tr>
	  <tr>
		<td>Fecha Limite de Postulacion:</td>
		<td>24/05/2014</td>
	  </tr>
	  <tr>
		<td>Duracion del Trabajo:</td>
		<td>2 Meses</td>
	  </tr>
	  <tr>
		<td>Lugar de Trabajo:</td>
		<td>Avenida Libertador Bernardo Ohiggins 4850, Estacion Central, Santiago</td>
	  </tr>
  </table>
</div>
<div class="text-center"> <button class="btn btn-default">Volver a todas las ofertas</button></div>
<br>
