<div id="detalleOferta" class="panel panel-default">
  <div class="panel-heading">
	  <div class="btn-group pull-right">
		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
		  Acciones
		  <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
		  <li><a href="#" onclick="printdiv('detalleOferta')"><span class="glyphicon glyphicon-save"></span> Imprimir Oferta</a></li>
		  <!--<li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Enviar esta oferta a mi correo</a></li>-->
		</ul>
	  </div>
	  <h4>Detalle de la Oferta</h4>
  </div>
  <div class="panel-body">
	<!-- Institucion -->
	<p class="offerInstitution"><b>Empresa: </b> {{offer.institution}}</p>

	<!-- Descripcion Corta -->
	<p class="offerShortDescription"><b>Tematica: </b> {{offer.short_description}}</p>
	
	<!-- Conocimientos relacionados -->
	<p class="offerTechSkills"><b>Tecnologias</b>: 
		{% for tec in offer.tecnologies_as_list %}
			<span class="label label-default">{{tec}}</span>
		{% endfor %}
	</p>

	<!-- Descripcion Completa -->
	<p class="offerFullDescription">
		<b>Detalles: </b> {{offer.long_description}}</p>

	<!-- Remuneracion-->
	<p class="offerSalary"><b>Remuneracion: </b> {{offer.salary}}</p>

	<!-- Datos Extra, quizá en el futuro...
	<p><b>Informacion Adicional: </b>
		<ul>
		<li><a href="http://www.youtube.com/watch?v=7afvLtoGEa4"><span class="glyphicon glyphicon-facetime-video"></span> http://www.youtube.com/watch?v=7afvLtoGEa4"</a></li>
		<li><a href="#"><span class="glyphicon glyphicon-paperclip"></span> Archivo 1</a></li>
		<li><a href="#"><span class="glyphicon glyphicon-paperclip"></span> Archivo 2</a></li>
		</ul>
	</p>
	-->
  </div>

  <table class="table">
	<!-- Contacto -->
	  <tr>
		<td>Empresa o Contacto:</td>
		<td>
		<table class="table">
			<tr><td>{{offer.institution}}</td></tr>
			<tr><td>{{offer.responsable}}</td></tr>
			<tr><td><a href="mailto:{{offer.mail}}"><span class="glyphicon glyphicon-envelope"></span> {{offer.mail}}</a></td></tr>
			<tr><td><a href="#"><span class="glyphicon glyphicon-paperclip"></span> {{offer.phone}}</a></td></tr>
		</table>
		</td>
	  </tr>

	<!-- Fecha Limite -->
	  <tr>
		<td>Fecha Limite de Postulacion:</td>
		<td>{{offer.expire_date}}</td>
	  </tr>

	<!-- Duracion -->
	  <tr>
		<td>Duracion del Trabajo:</td>
		<td>{{offer.length}}</td>
	  </tr>

	<!-- Direccion -->
	  <tr>
		<td>Lugar de Trabajo:</td>
		<td>{{offer.work_direction}}</td>
	  </tr>
  </table>
</div>
