.navbar-inverse {
	box-shadow: 0px 0px 5px 0px black;
	background-color: rgba(0, 0, 0, 0.6);
	border: none !important;
}

.navbar-right{
	padding-right: 40px !important;
}

Body{
	background-image: url('../img/header.background.gif');
	background-repeat: repeat-x;
}
