{% extends 'template_base.html' %}
{% load staticfiles%}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/signin.css' %}">
	<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block body %}

    <!-- Inicio barra superior Login -->
	{% include 'index_login_navbar.html' %}
    <!-- Fin barra superior Login -->

<div class="container">
	<br>
	<div class="page-header">
		<h1>Acceso al Sistema <small>Publicación Ofertas y Registro Usuarios</small></h1>
	</div>
	<div class="row">

	{% if messages %}
	<div class="alert alert-danger">
		<strong>Error</strong><br>
		<ul class="errorlist">
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}

		<div class="col-xs-6 centroDerecha">
			<form class="form-signin" role="form">
				<h2 class="form-signin-heading">Formulario de Publicación</h2>
				<h4 class="text-center"><i><small>Empresas - Académicos</small></i></h4>
				<p>Para ingresar una oferta de trabajo al sistema, complete el formulario de postulaciones con los datos de la oferta.</p>
				<p>Una vez completado, se le pedirá confirmar el correo de contacto.</p>
				<button type="button" class="btn btn-lg btn-primary btn-block">Ir al Formulario de Postulaciones</button>
			</form>
		</div>
		<div class="col-xs-6 centroIzquierda">
			<form class="form-signin" role="form" action='{% url "signup" %}' method="POST">
				{% csrf_token %}
				<h2 class="form-signin-heading">Registro Nuevo Usuario</h2>
				<h4 class="text-center"><i><small>Egresados DCC - Estudiantes DCC</small></i></h4>
				<!--
				<input type="email" class="form-control" placeholder="Correo @dcc" required autofocus>
				<input type="password" class="form-control" placeholder="Contraseña" required>
				<input type="password" class="form-control" placeholder="Reingrese Contraseña" required>
				-->
				{{signUpForm.email}}
				<!--{{signUpForm.repeatEmail}}-->
				{{signUpForm.password1}}
				{{signUpForm.password2}}
				<button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
			</form>
		</div>
	</div>
	<hr class="featurette-divider">
</div>
{% endblock %}

{% block footer %}
	<p class="text-muted">© 2014 Una iniciativa CaDCC, Universidad de Chile.</p>
{% endblock %}

