{% extends 'template_base.html' %}
{% load staticfiles%}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/signin.css' %}">
	<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block body %}

    <!-- Inicio barra superior Login -->
	{% include 'index_login_navbar.html' %}
    <!-- Fin barra superior Login -->

<div class="container">
	<br>
	<div class="page-header">
		<h1>Publicación de Ofertas <small>Formulario General</small></h1>
	</div>

<!-- Deberia ser eliminado...

	{% if messages %}
	<div class="alert alert-danger">
		<strong>Errores!</strong> Este globo sólo debería aparecer cuando algo salga mal.<br>
		<ul class="errorlist">
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}

-->

	<form class="form-horizontal" role="form" action="" method="post">
		{% csrf_token %}
		{% for field in offerForm %}
			<div class="form-group {% if field.errors %} has-error {% endif %}">
				<span class="col-lg-3 control-label">{{field.label_tag}}</span>

				<div class="col-lg-8">
				{% if field.name == 'short_description' %}
					<div class="input-group">
						{{field}}
						<span id="counter" class="input-group-addon">0/140</span>
					</div>
				{% else %}
					{{field}}
				{% endif %}
				{{field.errors}}
				</div>
			  </div>
		{%endfor%}
		<!--<button class="btn btn-lg btn-primary btn-block" type="submit">Agregar</button>-->
		<!-- <input type="submit" class="btn btn-lg btn-primary btn-block" value="Agregar" /> -->
		<div class="form-group">
			<div class="col-lg-offset-3 col-lg-8">
				<button type="submit" class="btn btn-success">Enviar</button>
				<button class="btn btn-danger">Cancelar</button>
			</div>
		</div>

	</form>
{% endblock %}

{% block footer %}
	<p class="text-muted">© 2014 Una iniciativa CaDCC, Universidad de Chile.</p>
{% endblock %}

