{% extends 'template_base.html' %}
{% load staticfiles%}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/signin.css' %}">
	<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block body %}

    <!-- Inicio barra superior Login -->
	{% include 'index_login_navbar.html' %}
    <!-- Fin barra superior Login -->

<div class="container">
	<br>
	<div class="page-header">
		<h1>Publicación de Ofertas <small>Formulario General</small></h1>
	</div>

	<div style="margin: auto; float: none;" class="col-md-6 text-center">
		<h2>Oferta ingresada <small>Ya Casi!</small></h2>
		<br>
		<img src="{% static 'img/semi_success.png'%}">
		<br>
		<p>Su oferta ha sido ingresada al sistema. Ahora sólo <b>debe verificar la oferta</b>.</p>
		<p>Un link de verificación ha sido enviado a su correo electronico especficado en el formulario. Al hacer clic en él, la oferta estará disponible en el sistema.</p>
		<br><br>
	</div>
</div>
{% endblock %}

{% block footer %}
	<p class="text-muted">© 2014 Una iniciativa CaDCC, Universidad de Chile.</p>
{% endblock %}

