{% extends 'template_base.html' %}
{% load staticfiles%}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/signin.css' %}">
	<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block body %}

    <!-- Inicio barra superior Login -->
	{% include 'index_login_navbar.html' %}
    <!-- Fin barra superior Login -->

<div class="container">
	<br>
	<div class="page-header">
		<h1>Registro de Usuarios <small>Último Paso</small></h1>
	</div>

	<div style="margin: auto; float: none;" class="col-md-6 text-center">
		<h2>Registro de Usuario Realizado <small>Ya Casi!</small></h2>
		<br>
		<img src="{% static 'img/semi_success.png'%}">
		<br>
		<p>Su cuenta ha sido registrada en el sistema. Ahora solo debe <b>debe verificar su correo</b>.</p>
		<p>Un link de verificación ha sido enviado a su correo electronico. Al hacer clic en él su cuenta estará autorizada para usar el sistema.</p>
		<br><br>
	</div>
</div>
{% endblock %}

{% block footer %}
	<p class="text-muted">© 2014 Una iniciativa CaDCC, Universidad de Chile.</p>
{% endblock %}
